# Framework web
fastapi==0.119.1

# Serveur ASGI
uvicorn==0.37.0

# ORM
SQLAlchemy==2.0.44

# Connecteur PostgreSQL
psycopg2-binary==2.9.10

# Validation de données
pydantic==2.12.3
pydantic-settings==2.11.0
pydantic[email]==2.12.3
email-validator==2.3.0

# Migrations de base de données
alembic==1.13.1

# Hashage mots de passe
passlib[bcrypt]==1.7.4
argon2-cffi==25.1.0

# Gestion des emails
fastapi-mail==1.5.7

# Variables d'environnement
python-dotenv==1.1.1
